    body{background-color: #d5ffd5;}
    #starrating { font-size: 0; }
    #starrating span { font-size: 20px; }
    #starrating span::before { content: "☆"; }
    #starrating span.active::before {content: "★"; color: #e77817; }
    #starrating span:hover { cursor: pointer; color: #e77817; }
